.content {
  padding: 50px 0;

  .company-what {
    border-bottom: 1px solid #ececec;
    color: #9a9a9a;
    font-size: 16px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .contact {
    text-align: center;

    .mobile-phone {
      max-width: 60px;
      transform: rotate(-5deg);
      opacity: 0.8;
      animation: mobilePhone 2s infinite;
      transition: all 0.1s ease;
      outline: 1px solid transparent;
    }

    .contact-details {
      padding-top: 10px;
      font-size: 16px;
    }
  }

  @keyframes mobilePhone {
    0% {
      transform: rotate(-5deg);
    }

    50% {
      transform: rotate(5deg);
    }

    100% {
      transform: rotate(-5deg);
    }
  }
}
