.footer {
  clear: both;
  position: relative;
  color: #9a9a9a;

  .container {
    border-top: 1px solid #ececec;
    padding-top: 50px;
  }

  .other-things {
    padding-bottom: 50px;

    .title {
      font-size: 12px;
      text-transform: uppercase;
    }

    a {
      color: #9a9a9a;
    }

    h2 a {
      font-size: 18px;
    }

    p {
      font-size: 12px;
      line-height: 1.7em;

      a {
        text-decoration: underline;
      }
    }

    .social-wrap {
      padding-top: 40px;
      border-top: 1px solid #eee;
      margin-top: 40px;

      @media screen and (min-width: 768px) {
        padding-top: initial;
        border-top: initial;
        margin-top: initial;
      }

      ul {
        padding-top: 15px;
        padding-left: 0;
        list-style: none;
      }

      .twitter {
        img {
          width: 50px;
          margin-left: -10px;
        }
      }
    }
  }

  .company-info {
    font-size: 11px;
    border-top: 1px solid #ececec;
    padding: 20px 0;

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      display: inline;
    }

    li + li:before {
        content: ' | ';
    }

    .logo-wrap {
      padding-top: 10px;

      @media screen and (min-width: 768px) {
        text-align: right;
        padding-top: initial;
      }

      .logo {
        width: 60px;
      }
    }
  }
}