.upgrade-browser {
  text-align: center;
  padding: 10px 0 0 0;
}

.banner {
  animation: bannerGradient 90s infinite;
  transition: all 0.1s ease;
  box-shadow: 0 4px 8px -3px rgba(0,0,0,0.2);

  @keyframes bannerGradient {
    0% {
      background: #ee639b;
    }

    16% {
      background: #FFB463;
    }

    32% {
      background: #33D5D4;
    }

    49% {
      background: #254356;
    }

    65% {
      background: #5B4097;
    }

    81% {
      background: #0087C9;
    }

    100% {
      background: #ee639b;
    }
  }

  .header {
    padding: 90px 0;

    .logo {
      max-width: 220px;
    }

    h1 {
      font-size: 22px;
      margin-top: 46px;
      color: #fff;
      font-weight: 600;
      text-shadow: 1px 1px 1px rgba(8, 8, 8, 0.3);
    }
  }
}
